.a1{
    display:grid;
    grid-template-columns: 200px 200px 200px 200px ;
    grid-template-rows: 200px 200px 200px;
    column-gap:2rem;
    row-gap: 2rem;
    grid-template-columns: repeat(auto);
    grid-auto-rows:500px;

}
.s{
    overflow: scroll;
}
.b1{
    background-color: fuchsia;
}
.b2{
    background-color: firebrick;
}
.b3{
    background-color: forestgreen;
}
.b1{
    grid-column-start:1;
    grid-column-end:3;
}
